body {
    color:white;
    margin: 0px;
    font-family: sans-serif;
    <!--background-image: url("../images/bg.jpg");-->
    background: rgb(241,140,142);
background: -moz-linear-gradient(145deg, rgba(241,140,142,1) 0%, rgba(240,183,164,1) 40%, rgba(241,209,181,1) 48%, rgba(86,142,166,1) 63%, rgba(48,95,114,1) 94%);
background: -webkit-linear-gradient(145deg, rgba(241,140,142,1) 0%, rgba(240,183,164,1) 40%, rgba(241,209,181,1) 48%, rgba(86,142,166,1) 63%, rgba(48,95,114,1) 94%);
background: linear-gradient(145deg, rgba(241,140,142,1) 0%, rgba(240,183,164,1) 40%, rgba(241,209,181,1) 48%, rgba(86,142,166,1) 63%, rgba(48,95,114,1) 94%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f18c8e",endColorstr="#305f72",GradientType=1);
    <!--background-size:auto;
    background-repeat: no-repeat;-->
  }
  ul {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 21px;
    padding: 0;
    overflow: hidden;
    background-color: #00000000;
  }
  li {
    float: right;
  }
  
  li a, .dropbtn {
    color:white;
    display: inline-block;
    text-decoration:none;
    transition: 0.3s;
    border-radius: 27px;
    background: #00000000;
    padding: 7px 20px;
    margin-right: 5px;
    margin-top: 20px;
  }
  .active{background-color: #24c8e5;}
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #24c8e5;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
  }
  
  .dropdown-content a {
    color: white;
    background-color: #2e2e2e;
    margin-left: 4px;
    margin-bottom: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #24c8e5;

}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
